.scrapHistory {
  position: absolute;
  top: 100px;
  left: calc(50% - 270px);
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.scrapDisplayChild {
  position: absolute;
  top: 100px;
  left: 367px;
  border-radius: var(--br-2xs);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 416px;
  height: 54px;
}
.scrapDisplayItem {
  position: absolute;
  top: 96px;
  left: 1092px;
  border-radius: var(--br-lg);
  background-color: var(--color-darkslategray);
  width: 248px;
  height: 61px;
}
.backToDashboard {
  position: absolute;
  top: 115px;
  left: 1120px;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.scrapDisplayInner {
  position: absolute;
  top: 322px;
  left: 64px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 1323px;
  height: 660px;
}
.totalScrap,
.weightChange {
  position: absolute;
  top: 341px;
  left: 1215px;
  display: inline-block;
  width: 186px;
}
.weightChange {
  left: 1048px;
}
.lineIcon {
  position: absolute;
  top: 328.94px;
  left: 826px;
  width: 12.88px;
  height: 650.02px;
}
.scrapDisplayChild1 {
  position: absolute;
  top: 469px;
  left: 68.99px;
  width: 1315.01px;
  height: 6.85px;
}
.scrapDisplayChild2 {
  position: absolute;
  top: 328.99px;
  left: 1031px;
  width: 6.13px;
  height: 650.01px;
}
.kg,
.kg1 {
  position: absolute;
  top: 484px;
  left: 1063px;
  color: var(--color-limegreen-200);
  display: inline-block;
  width: 87px;
}
.kg1 {
  top: 436px;
}
.inHouseProd,
.kg2,
.melting,
.subContractorProd {
  position: absolute;
  top: 388px;
  display: inline-block;
}
.kg2 {
  left: 1063px;
  color: #e10000;
  width: 119px;
}
.inHouseProd,
.melting,
.subContractorProd {
  left: 322px;
  width: 87px;
}
.inHouseProd,
.subContractorProd {
  top: 436px;
  left: 279px;
  width: 175px;
}
.subContractorProd {
  top: 484px;
  left: 261px;
  font-size: var(--font-size-xs);
  width: 223px;
}
.rectangleDiv,
.scrapDisplayChild3 {
  position: absolute;
  top: 202px;
  left: 63px;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 1062px;
  height: 69px;
}
.scrapDisplayChild3 {
  left: 1158px;
  width: 178px;
}
.filter {
  position: absolute;
  top: 207px;
  left: 1197px;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 59px;
}
.material,
.typeOfScrap {
  position: absolute;
  top: 344px;
  left: 491px;
  display: inline-block;
  width: 138px;
  height: 21px;
}
.typeOfScrap {
  top: 342px;
  left: 629px;
  width: 190px;
}
.process {
  top: 345px;
  left: 296px;
  width: 139px;
}
.date,
.process,
.recipientName {
  position: absolute;
  display: inline-block;
  height: 21px;
}
.recipientName {
  top: 344px;
  left: 783px;
  font-size: 21px;
  width: 305px;
}
.date {
  top: 345px;
  left: 117px;
  text-align: left;
  width: 77px;
}
.scrapDisplayChild4,
.scrapDisplayChild5,
.scrapDisplayChild6 {
  position: absolute;
  top: 328.99px;
  left: 248.36px;
  width: 6.13px;
  height: 650.01px;
}
.scrapDisplayChild5,
.scrapDisplayChild6 {
  left: 484.12px;
}
.scrapDisplayChild6 {
  left: 635px;
}
.scrapDisplayChild7 {
  position: absolute;
  top: 328.94px;
  left: 1229px;
  width: 12.88px;
  height: 650.02px;
}
.scrapDisplayChild8 {
  position: absolute;
  top: 375.69px;
  left: 64px;
  width: 1315.03px;
  height: 12.31px;
}
.scrapDisplayChild9 {
  position: absolute;
  top: 421.98px;
  left: 63.99px;
  width: 1315.01px;
  height: 6.85px;
}
.scrapDisplayChild10 {
  position: absolute;
  top: 469.85px;
  left: 65.94px;
  width: 1270.15px;
  height: 7.13px;
}
.lineDiv,
.scrapDisplayChild11,
.scrapDisplayChild12 {
  position: absolute;
  top: 522.5px;
  left: 63.5px;
  border-top: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 1318px;
  height: 5px;
}
.scrapDisplayChild11,
.scrapDisplayChild12 {
  top: 570.5px;
}
.scrapDisplayChild12 {
  top: 618.5px;
  left: 65.5px;
  width: 1316px;
}
.scrapDisplayChild13 {
  position: absolute;
  top: 662px;
  left: 66.02px;
  width: 1317.98px;
  height: 5.9px;
}
.scrapDisplayChild14 {
  position: absolute;
  top: 709.51px;
  left: 66.01px;
  width: 1317.99px;
  height: 6.53px;
}
.scrapDisplayChild15 {
  position: absolute;
  top: 756.97px;
  left: 63.98px;
  width: 1313.95px;
  height: 7.16px;
}
.scrapDisplayChild16,
.scrapDisplayChild17,
.scrapDisplayChild18 {
  position: absolute;
  top: 805.11px;
  left: 63.98px;
  width: 1313.95px;
  height: 7.16px;
}
.scrapDisplayChild17,
.scrapDisplayChild18 {
  top: 853.26px;
}
.scrapDisplayChild18 {
  top: 901.43px;
  left: 66.01px;
  height: 7.13px;
}
.image1Icon,
.image2Icon {
  position: absolute;
  top: 215px;
  left: 83px;
  width: 41px;
  height: 43px;
  object-fit: cover;
}
.image2Icon {
  left: 1172px;
  width: 44px;
  height: 45px;
}
.scrapDisplayChild19 {
  position: absolute;
  top: 448px;
  left: 904px;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 62px;
  height: 4px;
}
.scrapDisplay {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
